<h1>Household Emergency Contact Information</h1>
<div><%= f.input :emergency_contact, label: "Emergency Contact Name" %></div>
<div><%= f.input :emergency_contact_phone, label: "Emergency Contact Phone" %></div>
<div><%= f.input :emergency_contact_relationship, label: "What is the Relationship?" %></div>