<h1>Household Emergency Preparedness</h1>
<div><%= f.input :food_supply, label: "Do you maintain consistent food storage?" %></div>
<div><%= f.input :food_amount, label: "What is the amount of days you can feed all members of your household" %></div>
<div><%= f.input :water_supply, label: "Do you maintain consistent water storage?" %></div>
<div><%= f.input :water_amount, label: "What is the amount of water storage in gallons" %></div>